                                                                              <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Stock Analysis</h1>

        <!-- Form to enter stock data -->
        <form method="POST" action="/plot">
            <div class="input-group">
                <label for="stock_symbol">Stock Symbol:</label>
                <input type="text" id="stock_symbol" name="stock_symbol" required>
            </div>

            <div class="input-group">
                <label for="long_volatility">Long Volatility:</label>
                <input type="number" id="long_volatility" name="long_volatility" step="0.01" required>
            </div>

            <div class="input-group">
                <label for="short_volatility">Short Volatility:</label>
                <input type="number" id="short_volatility" name="short_volatility" step="0.01" required>
            </div>

            <div class="input-group">
                <label for="rsi_upper">RSI Upper Threshold:</label>
                <input type="number" id="rsi_upper" name="rsi_upper" step="0.01" required>
            </div>

            <div class="input-group">
                <label for="rsi_lower">RSI Lower Threshold:</label>
                <input type="number" id="rsi_lower" name="rsi_lower" step="0.01" required>
            </div>

            <button type="submit">Generate Plot</button>
        </form>

        <h2>
        Strategy Outline: <br>
        </h2>
        <h3>
            &nbsp; &nbsp; In the default Long-Short strategy, we either long an asset when the open price of a new
        trading period is higher than the close price of the previous trading period, or short an asset if the
        open price of a new trading period is lower than the close price of the previous trading period.
        More over, the condition for quit for long is, when the asset’s price goes above (1 + σ) *
        open price, where σ is the expected volatility of this trading period, and the condition for quit
        short is, when the asset’s price goes below (1 - σ) * open price. <br>
            &nbsp; &nbsp; For our new strategy, we incorporated a few metrics to evaluate whether we will long or
        short an asset. <br>
            &nbsp; &nbsp; At the beginning of each trading period, we calculate the Relative Strength Index of the
        stock on this day. Also, we find the Moving Average Convergence Divergence as well,
        and find the value difference between the MACD and the signal line. <br>
            &nbsp; &nbsp; Signal line of a day is the average of MACD for the past 7 days. Moreover, we pull
        the implied volatility of this stock using ShinyBroker. Lastly, we fetch the 10-3 spread on that
        date using online data source. <br>
            &nbsp; &nbsp; So now we have 4 metrics: RSI, MACD’s difference between signal line, implied
        volatility, and 10-3 spread. we then normalize all three metrics and compute the z score of each
        metric for a single trading period. <br>
            &nbsp; &nbsp; After first round of decision, we still have a second round to go. In the second round, we
        call a trading period is bullish if RSI value is smaller than a lower threshold (entered by user),
        while MACD exceeds signal line, and define a trading period as bearish if RSI value is higher
        than an upper threshold (entered by user), simultaneously MACD is below the signal line. In the
        case of bullish we long the asset no matter what is the weighted score, in the case of bearish we
        short the asset no matter what is the weighted score. <br>
            &nbsp; &nbsp; Also, the quit criteron is redefined too. The client can enter a long volatility alpha such
        that, when longing an asset, we only quit if the asset’s price goes above (1 + alpha * σ) * open
        price. Also, the client can enter a short volatility beta such that, when shorting an asset, we only
        quit if the asset’s price goes below (1 + beta * σ) * open price. <br>

        </h3>

        <!-- Display the plot -->
        {% if plot_html %}
        <div id="plot-container">
            <h2>Generated Plot</h2>
            <div id="plot">
                {{ plot_html|safe }}
            </div>
        </div>
        {% endif %}

        {% if benchmark_fig_html %}
        <div id="ab-benchmark-container">
            <h2>Strategy VS SP500</h2>
            <div id="plot_vs_sp500">
                {{ benchmark_fig_html|safe }}
            </div>
        </div>
        {% endif %}

        <!-- Display Volatility, Geometric Mean rate of Return, Sharpe -->
        {% if vol %}
        <h2>Volatility: {{ vol }}</h2>
        {% endif %}

        {% if gmrr %}
        <h2>Geometric Mean Rate of Return: {{ gmrr }}</h2>
        {% endif %}

        {% if sharpe %}
        <h2>Sharpe: {{ sharpe }}</h2>
        {% endif %}

        {% if avg_return %}
        <h2>Average Return of each Trading Period (For each dollar spent): {{ avg_return }}</h2>
        {% endif %}

        {% if num_of_trd %}
        <h2>Number of trading: {{ num_of_trd }}</h2>
        {% endif %}


        <!-- Display Blotter table -->
        {% if blotter_html %}
        <div id="blotter-container">
            <h2>Blotter</h2>
            <div id="blotter">
                {{ blotter_html|safe }}
            </div>
        </div>
        {% endif %}

        <!-- Display Ledger table -->
        {% if ledger_html %}
        <div id="ledger-container">
            <h2>Ledger</h2>
            <div id="ledger">
                {{ ledger_html|safe }}
            </div>
        </div>
        {% endif %}
    </div>
</body>
</html>